<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styles/css")
    <!--[if lt IE 9]>
    @Styles.Render("~/styles/legacy")
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("head", required: false)

</head>
<body>
    @Html.Partial(MVC.Shared.Views._LayoutHeader)
    <div id="main">
        <div class="content">
            @RenderBody()
        </div>
        <aside data-static-scroll="container">
            <div data-static-scroll="anchor"></div>
            <div data-static-scroll="fixed">
                @Html.Partial(MVC.Shared.Views._LayoutNav)
            </div>
        </aside>
    </div>
    @Html.Partial(MVC.Shared.Views._LayoutFooter)
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
